body {
    background-color: #440951;
    background-image: -moz-linear-gradient(top, #b032cb, #440951);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#b032cb), to(#440951));
    background-image: linear-gradient(top, #b032cb, #440951);
    color: white;
}

#smallTitle {
    font-size: 20px;
}

#mainTitle {
    color: black;
    font-size: 50px;
    font-family: 'Playfair Display';
    font-weight: 300;
}



.userAdjustLabel {
    padding-top: 40px;
}

#ttime,
#reset {
    font-size: 40px;
}

.glyphplustime,
.glyphplusreset {
    padding-right: 10px;
}

.glyphminustime,
.glyphminusreset {
    padding-left: 10px;
}

.adjustButton {
    padding: 20px;
}
.clicker {
    padding-top: 80px;
}
.mainButton {
    padding: 20px;
    color: black;
    font-size: 20px;
}
#spinner{
    text-align: center;
    

}
.timer{
    font-size: 40px;
    padding-bottom: 40px;
}
